<div class="film-edit-container">
  <%= form_with(model: film, local: true) do |form| %>
    <% if film.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

        <ul>
        <% film.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field mt-3">
      <%= form.label :title, 'Название', class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="field mt-3">
      <%= form.label :year, 'Год выпуска', class: 'form-label' %>
      <%= form.number_field :year, class: 'form-control' %>
    </div>

    <div class="field mt-3">
      <%= form.label :genre, 'Жанр', class: 'form-label' %>
      <%= form.text_field :genre, class: 'form-control' %>
    </div>

    <div class="field mt-3">
      <%= form.label :company, 'Кинокомпания', class: 'form-label' %>
      <%= form.text_field :company, class: 'form-control' %>
    </div>

    <div class="field mt-3">
      <%= form.label :producer, 'Режиссер', class: 'form-label' %>
      <%= form.text_field :producer, class: 'form-control' %>
    </div>

    <div class="field mt-3">
      <%= form.label :actors, 'Актеры', class: 'form-label' %>
      <%= form.text_field :actors, class: 'form-control' %>
    </div>

    <div class="field mt-3">
      <%= form.label :cost, 'Стоимость', class: 'form-label' %>
      <%= form.text_field :cost, class: 'form-control' %>
    </div>

    <div class="field mt-3">
      <%= form.label :image_link, 'Ссылка на изображение постера', class: 'form-label' %>
      <%= form.text_field :image_link, class: 'form-control' %>
    </div>

    <div class="field mt-3">
      <%= form.label :rating, 'Рейтинг', class: 'form-label' %>
      <%= form.text_field :rating, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit 'Сохранить', class: 'btn btn-sm btn-primary mt-3' %>
    </div>
  <% end %>

</div>

